<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="target" class="cn.gdcp.aop.Target"/>

    <bean id="myAspect" class="cn.gdcp.aop.MyAspect"/>

    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointcut" expression="execution(* cn.gdcp.aop.*.*(..))"/>

<!--            <aop:before method="before" pointcut="execution(public void cn.gdcp.aop.Target.save())"/>-->

          <!--  <aop:before method="before" pointcut="execution(* cn.gdcp.aop.*.*(..))"/>
            <aop:after-returning method="afterReturning" pointcut="execution(* cn.gdcp.aop.*.*(..))"/>
            <aop:around method="around" pointcut="execution(* cn.gdcp.aop.*.*(..))"/>
            <aop:after-throwing method="afterThrowing" pointcut="execution(* cn.gdcp.aop.*.*(..))"/>
            <aop:after method="after" pointcut="execution(* cn.gdcp.aop.*.*(..))"/>-->

            <aop:after-throwing method="afterThrowing" pointcut-ref="myPointcut"/>
            <aop:around method="around" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>

</beans>