<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gdcp.mapper.UserMapper">

    <resultMap id="UserAndRoleMap" type="user">
        <id column="userid" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday" typeHandler="cn.gdcp.handler.DateTypeHandler"/>
        <collection property="roleList" ofType="role">
            <id column="roleid" property="id"/>
            <result column="rolename" property="roleName"/>
            <result column="roleDesc" property="roleDesc"/>
        </collection>
    </resultMap>
    
    <select id="findUserAndRoleAll" resultMap="UserAndRoleMap">
        SELECT * FROM USER u,sys_user_role ur,sys_role r WHERE u.id = ur.userid AND ur.roleid = r.id;
    </select>

    <resultMap id="userMap" type="user">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday" typeHandler="cn.gdcp.handler.DateTypeHandler"/>
        <collection property="orderList" ofType="order">
            <id column="oid" property="id"/>
            <result column="ordertime" property="ordertime"/>
            <result column="total" property="total"/>
        </collection>
</resultMap>

    <insert id="save" parameterType="user">
        insert into user values(#{id},#{username},#{password},#{birthday})
    </insert>

    <select id="findById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>

    <select id="findAll" resultMap="userMap">
        SELECT *,o.id oid FROM user u, orders o WHERE o.uid = u.id
    </select>

</mapper>